<!--Header Partial Included -->
<% include ../partials/header.ejs %>

<!--Top Navbar Partial Included -->
<% include ../partials/navbar.ejs %> 
 
 <main class="container">
 <!--Message Area-->
 <% if(messages.length > 0) { %>
<div class="alert alert-danger">
     <%= messages %>
</div>
<% } %>

<div class="row">
    <div class="offset-md-4 col-md-4">
        <h1>Please Login</h1>
        
    </div>
</div>


 </main>
 
 
 <!--Bottom Navbar Partial Included -->
 <% include ../partials/bottomnavbar.ejs %> 

<!--Footer Partial Included -->
 <% include ../partials/footer.ejs %>